:root{
  --ygo-lighter: white;
  --ygo-dark: black;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: black;
  color: lightgray;
}
img {
  max-width: 100%;
}

/* Utilities */

.container
{
  width: 100%;

  @media (min-width: 480px)
  {
    margin: auto;
    width: 80%;
    max-width: 420px;
  }

  @media (min-width: 768px)
  {
    max-width: 720px;
  }

  @media (min-width: 1200px)
  {
    max-width: 1176px;
  }

  @media (min-width: 1440px)
  {
    max-width: 1400px;
  }

}